* {
  box-sizing: border-box;
}

.page {
  font-family: Comic Sans MS, cursive;
  margin: 0;
  /* padding: 40px 25px; */
}

#header-nav {
  background-color: #999999;
  border: 2px solid #000;
  border-radius: 0;
  /* border-bottom: none; */
}

.navbar-default .navbar-brand {
  color: #000;
  cursor: default;
}

.navbar-brand:hover {
  color: #000;
}

.nav__title {
  font-size: 2.3em;
}

.navbar-toggle {
  clear: both;
  margin-top: -48px;
  margin-right: 30px;
}

.navbar-default .navbar-toggle,
.icon-bar {
  border: 2px solid #000;
}

.navbar-collapse {
  border-top: 2px solid transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border: 2px solid #ddd;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
  background-color: transparent;
  border: 2px solid #ddd;
}

.navbar-nav {
  margin: 0 -15px;
}

.nav > li > a {
  text-align: center;
}

.navbar-default .navbar-nav > li > a {
  border-top: 2px solid #000;
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #000;
  background-color: #c1eacf;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #000;
  background-color: #c1eacf;
}

.heading {
  font-size: 1.75em;
  margin-top: 35px;
  margin-bottom: 50px;
}

.section {
  background-color: #999999;
  margin-bottom: 3%;
}

.title {
  font-size: 1.25em;
  margin: 0;
  padding: 12px;
}

.title__chicken {
  background-color: #d59898;
}

/* .title__beef {
  color: #fff;
  background-color: #c14543;
}

.title__sushi {
  background-color: #e5d198;
} */

.description {
  margin: 0;
  padding: 15px 10px 10px;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .heading {
    margin-bottom: 30px;
  }

  .nav__title {
    margin-left: 30px;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background-color: #fff;
  }
}
